
#content{
      text-align: center;
      margin-left:15%;
      margin-right:15%;
    }
    
#content h1, h2, h3, h4, h5, h6, p, a, .button{
     font-family: 'Armata', sans-serif;
 }
    
h3 {
  font-size: 22px;
}

h5 {
  font-weight: bold;
}

.panel h5, h6, a{
	color:#000;
}
            
